
    body
	  { 
          
            background-image:url("colorful-of-dahlia-pink-flower-in-beautiful-garden-royal");
            background-repeat:no-repeat;
	    background-attachment:scroll;
	    
           }
	  h1{	
            color:green;
            margin-left:50px;
	    text-decoration:underline;
            border:double;
             }
            p.normal{
		font-style:bold;
		color:blue;
		direction:ltr;
		letter-spacing:5px;
		word-spacing:10px;
		text-indent:1cm;
		text-decoration:line-through;
                text-transform:lowercase;
		}
	    p.special{
		color:red;
		font-style:italic;
		text-align:center;
		text-decoration:underline;
		text-transform:capitalize;
		text-shadow:2px 4px 2px yellow;
		box-shadow: 1px 2px 5px red,4px 13px 15px green;
                border:inset;
		
		}
		img.pt:hover{
			height:20;width:300;opacity:0.2;}
		#id1,id2{
			property:value;
		}
               .mycolour{property:value;}
               p.one{
                 border-style:solid;
                 border-width:2px;
                 border-color:green;
             }
             p.two{
                 border-style:solid;
                 border-width:medium;
             }

             p.three{
              border-style:solid;
              border-width:2px 10px 4px 20px;
              border-color:red green yellow blue;
              }   
	     p.four{
                   border-top-style:dotted;
		   border-right-style:solid;
                   border-bottom-style:dashed;
                   border-left-style:double;
                     border-color:green;
                    padding:25px 50px 75px 100px;
                   }
               p{
                  border-left:6px solid red;
                 margin:15px 50px 70px 100px;
             
                  }
               div{
                   width:300px;
                   margin:auto;
                   border:2px solid red;
                    }
                 p.ab{
                   padding:5px;
                   border-style:dashed;
                   border-color:green;
                   border-width:2px;
                   margin:2cm;
                   } 
                  li{
                    display:inline;
                    }
                  span.a{
                     display:inline;
                     width:100px;
                     height:100px;
                     padding:5px;
                     border:1px solid red;
                     background-color:yellow;
                     }  
                  span.b
                      {

                     display:inline-block;
                     width:100px;
                     height:100px;
                     padding:5px;
                     border:1px solid  blue;
                     background-color:yellow;
                       }
                    span.c
                      {
                     display:block;
                     width:100px;
                     height:100px;
                     padding:5px;
                     border:1px solid green;
                     background-color:green;
                   }
                       a {
                         color:black; 
                         }
                        a.w
                        {
                         
                         color:green;
                         text-decoration:none;
				 
                         }
                         a.y{
                          color:black;  
                          border:solid green 2px;
                           text-decoration:none;
                           }
                            a.z{
                              border:solid orange 2px;
                                background-color:orange;
	                          text-decoration:none;
                               }
                             a.w:hover
                              {
                               color:blue;
                              }
                             a.z:visited
                              {                              
				 color:red;
                                  
                              }
                         p.l::first-letter{
                                color:green;
                                font-size:xx-large;
                                      }
                          p.l::first-line{
                                color:red;
                                font-variant:small-caps;
                                      }
                          p.l::selection{
                                   color:yellow;
                                   background-color:green;
                            
                             }
                      
                            div.m
                                {

                             background-image:url("colorful-of-dahlia-pink-flower-in-beautiful-garden-royal");
                              width:600px;
                             padding:60px;
                             border:white
                              }  
                           div.o{
                               background-color:white;
                               padding:30px;
                               opacity:0.4;
                                 border:white
                                 }div.n{border:white}
                          #grad{
                                 background-image:linear-gradient(red,yellow);}
                          #h{background-image:linear-gradient(to right,red,yellow);}
                          #jk{background-image:linear-gradient(to bottom,red,green);}
                          #pp{background-image:linear-gradient(-90deg,red,blue,yellow);}
			  #k{background-image:radial-gradient(green,red,yellow);}
                          #hi{background-image:linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,1));}
	                  #t{background-image:repeating-linear-gradient(red,yellow 10%,green 10%);}

				 #ht{background-image:radial-gradient(circle,red,yellow);}

 
















